* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

body{
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  font-size: 6.5em;
  text-decoration: underline;
  line-height: 1.2;
}

h2 {
  text-align: center;
  font-size: 6em;
  line-height: 0.9;
}

h3{
  margin-left: 20px;
  margin-right: 20px;
}

h4{
  text-align: center;
  font-size: 2.5em;
}

h5{
  text-align: center;
  font-size: 1em;
}

img {
  width: 750px;
  align-items: center;
}

footer{
  text-align: center;
  padding: 3px;
  display: block;
  border: solid 1px black;
  background-color: #fff;
}

p{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2em;
}

ul{
  margin-left: 250px;
  margin-right: 200px;
}

li{
  font-size: 1.2em;
}

.arrow-down{
  text-align: center;
  font-size: 3em;
  animation: opacity 3s ease-in-out infinite;
  opacity: 1;
  }

  @keyframes opacity {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0
    }

    100% {
      opacity: 1;
    }
  }


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.how-it-would-work, .purpose {
  text-align: center;
  margin: 0 auto;
  margin-left: 280px;
  margin-right: 250px;
}

.who{
  margin-left: 350px;
  margin-right: 250px;
}

.benefits, .specifications{
  margin-left: 250px;
  margin-right: 200px;
}

.open{
  text-shadow: 2px 2px 5px orange;
}

.first-word{
  text-align: center;
  margin-left: 0px;
  padding: 0px;
  float: center;
  font-size: 1.3em;
  text-shadow: 2px 2px 5px orange;
}

#first {
  text-align: center;
  font-weight: bolder;
  font-size: 2em;
  text-shadow: 2px 2px 5px orange;
}

/* unvisited link */
a:link {
  text-shadow: 2px 2px 5px orange;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  text-shadow: 2px 2px 5px red;
}

/* selected link */
a:active {
  color: blue;
}
